:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.4rem;
    --text-paragraph: 1.2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    /* --font-weight-bold: 700; */

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Monospace', monospace;

    /* COLORS */
    --white: #ffffff;
    --black: #000000;
    
    /* MISCELLANEOUS */
    --nav-height: 10rem; /* Update the value in the flexbox topic */
}

* {
    cursor: none;
}

body {
    background-color: var(--black);
    font-family: var(--font-family);
    cursor: none;
    margin-bottom: 10rem;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family);
}

a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    transition: transform 0.8s ease;
}

/* ----------------------- RESPONSIVE MEDIA ----------------------- */

@media (max-width: 1485px) {
    .main-section {
        gap: 2rem !important;
    }
    .btn-row {
        display: flex !important;
        gap: 1rem;
    }
    .btn1,
    .btn2,
    .btn3 {
        display: none !important;
    }
    .line-top,
    .line-right,
    .line-bottom {
        display: none;
    }
    .card-3 {
        right: 40% !important;
    }
}

@media (max-width: 1150px) {
    .card-1 {
        right: 20% !important;
    }
    .card-2 {
        top: 37rem !important;
    }
    .card-3 {
        right: 43% !important;
    }
}

@media (max-width: 1100px) {
    .card-2 {
        right: 4% !important;
    }
    .card-3 {
        height: 300px !important;
        width: 300px !important;

        top: 35rem !important;
        z-index: 1 !important;
    }
}

@media (max-width: 830px) {
    .main-section {
        text-align: center;
        align-items: center;
    }
    .hero-text-btn2 {
            font-size: 2.5rem !important;
        }
    .footer {
        flex-direction: column;
        gap: 0.5rem;
    }
    .email-impressum {
        margin-left: 0 !important;
    }
}

@media (max-width: 700px) {
    .hero-text-btn2 {
        font-size: 2rem !important;
    }
}

@media (max-width: 510px) {
    .hero-text-btn2 {
        font-size: 1.8rem !important;
    }
}


/* ----------------------- BUTTONS ----------------------- */

.btn {
    font-family: var(--font-family);
    min-width: 110px;
    height: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    cursor: none;
}

.btn-primary:link, .btn-primary:visited {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    transition: 0.5s;
    cursor: none;
}

.btn-primary:hover, .btn-primary:active {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--grey-base);
    cursor: none;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    transition: 0.5s;
    cursor: none;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    color: var(white);
    background-color: transparent;
    border: 2px solid var(white);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--grey-base);
    cursor: none;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
    text-decoration: none;      
    background-color: transparent;
    border: 2px dotted var(--white);
    color: var(--white);        
    transition: 0.5s;
    cursor: none;
}

.btn-secondary:link, .btn-secondary:visited {
    background-color: transparent;
    border: 2px dotted var(white);
    border-color: white;
    transition: 0.5s;
    cursor: none;
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: transparent;
    border: 2px dotted var(white);
    transform: scale(1.05, 1.05);
    transform: scale(1.05);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    cursor: none;
}

/* ----------------------- CARD ----------------------- */

.main-card {
    position: relative;

    width: 90%;
    max-width: 1700px;
    height: 900px;          
    margin: 8rem auto;
    padding: 1rem 1.5rem;
    
    display: flex;
    flex-direction: column;

    border: 3px solid var(--white);
    border-radius: 12px;
    box-shadow: 5px 5px 5px var(--white);
    
    background: transparent;
    z-index: 1;
}

.card-1 {
    position: absolute;
    background: var(--black);

    border: 3px solid var(--white);
    border-radius: 12px;
    box-shadow: 5px 5px 5px var(--white);

    height: 230px;
    width: 425px;

    top: -5rem;
    right: 15%;

    z-index: 2;
}

.card-1:hover {
    transform: translateY(-5px) scale(1.03) rotate(-1deg);
    box-shadow: 0 15px 20px rgba(255,255,255,0.5);
    border-color: royalblue;
}

.card-2 {
    position: absolute;
    background: var(--black);

    border: 3px solid var(--white);
    border-radius: 12px;
    box-shadow: 5px 5px 5px var(--white);

    height: 80px;
    width: 500px;

    top: 33rem;
    right: -4%;

    z-index: 2;
}

.card-2:hover {
    transform: translateY(-5px) scale(1.03) rotate(0deg);
    box-shadow: 0 15px 20px rgba(255,255,255,0.5);
    border-color: green;
}

.card-3 {
    position: absolute;
    background: var(--black);

    border: 3px solid var(--white);
    border-radius: 12px;
    box-shadow: 5px 5px 5px var(--white);

    height: 350px;
    width: 300px;

    top: 46rem;
    right: 31%;

    z-index: 2;
}

.card-3:hover {
    transform: translateY(-5px) scale(1.03) rotate(1deg);
    box-shadow: 0 15px 20px rgba(255,255,255,0.5);
    border-color: yellow;
}

/* ----------------------- HEADER ----------------------- */

.header {
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: var(--font-family);
}

.logo-name { /* header-left */
    display: flex;
    font-size: 0.7rem;
}

.header-right {
    display: flex;
    font-size: 1.2rem;
    margin-left: auto;
    gap: 0.9rem;
    align-items: center;
}

.header-right li {
    font-family: var(--font-family);
    font-size: 1rem;
}

.nav-icons {
    display: flex;         
    align-items: center;   
    justify-content: center;
    width: 23px;
}

/* ----------------------- MAIN ----------------------- */

.main-section{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 7rem;
}

.btn1 {
    display: flex;
    margin-left: 30rem;
}

.hero-text-btn2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 0;
    color: var(--white);
    font-size: 3rem;
}

.btn2 {
    display: flex;
    margin-left: 210px;
}

.btn3 {
    display: flex;
    margin-left: 30rem;
}

.line-top {
    position: absolute;
    top: 0;
    left: 558.5px;
    height: 145px; /* vertikal */
    border-left: 2px dotted var(--white);
}

.line-bottom {
    position: absolute;
    top: 685px;
    left: 558.5px;
    height: 252px; /* vertikal */
    border-left: 2px dotted var(--white);
}

.line-right {
    position: absolute;
    top: 414px;
    left: 1083px;
    right: 0;
    border-top: 2px dotted var(--white); /* horizontal */
}

.btn-row {
    color: var(--white);
    display: none;
}

/* ----------------------- FOOTER ----------------------- */

.footer {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.links {
    display: flex;
    gap: 1rem;
}

.email-impressum {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    color: var(--white);
}

/* ----------------------- CURSOR ----------------------- */

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;

    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease, background-color 0.2s ease;
    }

.cursor-invert {
    background-color: black;
}